In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

gmaps.configure(api_key=g_key)

file_to_load = "~/python-api-challenge/WeatherPy/output_data_cities.csv"

In [16]:
weather_data_df = pd.read_csv(file_to_load) 
weather_data_df.head()

,Unnamed: 0,City Name,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed
0,0,Örnsköldsvik,13,SE,1618690387,86,63.2909,18.7153,34.070,2.06
1,1,Busselton,0,AU,1618690871,88,-33.6500,115.3333,51.278,3.95
2,2,Nikolskoye,0,RU,1618690871,34,59.7035,30.7861,48.470,4.00
3,3,Hokitika,100,NZ,1618690221,81,-42.7167,170.9667,51.962,0.64
4,4,Murchison,95,NZ,1618690388,88,-41.8000,172.3333,47.444,0.88

In [17]:
locations = weather_data_df[["Lat", "Lng"]]
hum_level = weather_data_df["Humidity"].astype(float)

In [24]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=hum_level, dissipating=False, max_intensity=100,point_radius=1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
n_weather_data_df = weather_data_df.loc[(weather_data_df["Max Temp (F)"]> 70)&(weather_data_df["Max Temp (F)"]< 80)&(weather_data_df["Wind Speed"]< 5)&(weather_data_df["Cloudiness"]< 25)]
n_weather_data_df.head()

,Unnamed: 0,City Name,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed
35,35,Sinjār,11,IQ,1618690392,30,36.3209,41.8754,70.664,2.24
42,42,Carnarvon,0,AU,1618690878,69,-24.8667,113.6333,76.604,2.68
45,45,Belmonte,20,BR,1618690394,73,-15.8631,-38.8828,79.070,3.60
81,81,Marzuq,0,YE,1618690402,54,14.4000,46.4667,70.664,2.66
82,82,Cape Town,0,ZA,1618690719,82,-33.9258,18.4232,72.266,1.54

In [59]:
n_weather_data_df["Hotel Name"] = ""

<ipython-input-59-34286d24f374>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_weather_data_df["Hotel Name"] = ""

In [60]:
hotel_df = n_weather_data_df
hotel_df

,Unnamed: 0,City Name,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed,Hotel Name
35,35,Sinjār,11,IQ,1618690392,30,36.3209,41.8754,70.664,2.24,
42,42,Carnarvon,0,AU,1618690878,69,-24.8667,113.6333,76.604,2.68,
45,45,Belmonte,20,BR,1618690394,73,-15.8631,-38.8828,79.070,3.60,
81,81,Marzuq,0,YE,1618690402,54,14.4000,46.4667,70.664,2.66,
82,82,Cape Town,0,ZA,1618690719,82,-33.9258,18.4232,72.266,1.54,
95,95,Kutum,24,SD,1618690296,10,14.2000,24.6667,75.002,3.89,
110,110,Hualmay,24,PE,1618690312,73,-11.0964,-77.6139,73.274,4.79,
116,116,Cap Malheureux,20,MU,1618690592,86,-19.9842,57.6142,79.268,4.12,
133,133,Vaini,20,TO,1618690894,83,-21.2000,-175.2000,75.470,2.06,
173,173,Riyadh,20,SA,1618690329,23,24.6877,46.7219,75.470,2.06,
174,174,Ponnāni,20,IN,1618690421,83,10.7670,75.9252,79.070,2.28,
218,218,Alexandria,0,EG,1618690908,56,31.2156,29.9553,73.670,3.09,
252,252,Cilegon,20,ID,1618690438,83,-6.0174,106.0538,79.070,1.54,
272,272,Orange Cove,8,US,1618690443,38,36.6244,-119.3137,75.272,3.13,
273,273,Adrar,0,MR,1618690852,19,20.5022,-10.0711,79.394,4.45,
330,330,Noumea,0,NC,1618690670,94,-22.2763,166.4572,75.272,1.03,
428,428,Abu Dhabi,0,AE,1618690668,53,24.4667,54.3667,79.070,1.03,
447,447,Taganak,20,PH,1618690484,88,6.0833,118.3000,75.470,1.54,
461,461,San Jose,1,US,1618690407,52,37.3394,-121.8950,73.274,4.12,
482,482,Ardakān,20,IR,1618690385,19,32.3100,54.0175,75.470,3.09,
496,496,Grand Gaube,20,MU,1618690952,86,-20.0064,57.6608,79.268,4.13,
498,498,Purushottampur,0,IN,1618690496,83,19.5333,84.8833,78.548,2.26,
520,520,Maputo,20,MZ,1618690956,72,-25.9653,32.5892,71.276,1.03,
524,524,Sittwe,5,MM,1618690502,72,20.1500,92.9000,79.430,2.29,

In [74]:
params = {
    "radius": 5000,
    "types": "hotel",
    "Keywords": "hotels",
    "key": g_key
}

for index, row in hotel_df.iterrows():

    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params)

    name_address = name_address.json()

    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

C:\Users\rwbut\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Missing field/result... skipping.

In [76]:
hotel_df

,Unnamed: 0,City Name,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed,Hotel Name
35,35,Sinjār,11,IQ,1618690392,30,36.3209,41.8754,70.664,2.24,Sinjar
42,42,Carnarvon,0,AU,1618690878,69,-24.8667,113.6333,76.604,2.68,Carnarvon
45,45,Belmonte,20,BR,1618690394,73,-15.8631,-38.8828,79.070,3.60,Belmonte
81,81,Marzuq,0,YE,1618690402,54,14.4000,46.4667,70.664,2.66,Al Hujayrah
82,82,Cape Town,0,ZA,1618690719,82,-33.9258,18.4232,72.266,1.54,Cape Town
95,95,Kutum,24,SD,1618690296,10,14.2000,24.6667,75.002,3.89,Kutum
110,110,Hualmay,24,PE,1618690312,73,-11.0964,-77.6139,73.274,4.79,Huacho
116,116,Cap Malheureux,20,MU,1618690592,86,-19.9842,57.6142,79.268,4.12,Grand Baie
133,133,Vaini,20,TO,1618690894,83,-21.2000,-175.2000,75.470,2.06,Nukuhetulu
173,173,Riyadh,20,SA,1618690329,23,24.6877,46.7219,75.470,2.06,Riyadh
174,174,Ponnāni,20,IN,1618690421,83,10.7670,75.9252,79.070,2.28,Ponnani
218,218,Alexandria,0,EG,1618690908,56,31.2156,29.9553,73.670,3.09,Alexandria
252,252,Cilegon,20,ID,1618690438,83,-6.0174,106.0538,79.070,1.54,Cilegon
272,272,Orange Cove,8,US,1618690443,38,36.6244,-119.3137,75.272,3.13,Orange Cove
273,273,Adrar,0,MR,1618690852,19,20.5022,-10.0711,79.394,4.45,
330,330,Noumea,0,NC,1618690670,94,-22.2763,166.4572,75.272,1.03,Nouméa
428,428,Abu Dhabi,0,AE,1618690668,53,24.4667,54.3667,79.070,1.03,Abu Dhabi
447,447,Taganak,20,PH,1618690484,88,6.0833,118.3000,75.470,1.54,Turtle Islands
461,461,San Jose,1,US,1618690407,52,37.3394,-121.8950,73.274,4.12,San Jose
482,482,Ardakān,20,IR,1618690385,19,32.3100,54.0175,75.470,3.09,Meybod
496,496,Grand Gaube,20,MU,1618690952,86,-20.0064,57.6608,79.268,4.13,Goodlands
498,498,Purushottampur,0,IN,1618690496,83,19.5333,84.8833,78.548,2.26,Purusottampur
520,520,Maputo,20,MZ,1618690956,72,-25.9653,32.5892,71.276,1.03,Maputo
524,524,Sittwe,5,MM,1618690502,72,20.1500,92.9000,79.430,2.29,Sittwe

In [77]:
hotel_name = hotel_df["Hotel Name"].tolist()
city = hotel_df["City Name"].tolist()
country = hotel_df["Country"].tolist()

In [95]:
marker_locations = hotel_df[['Lat', 'Lng']]

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,info_box_content =info_box_template)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))